<div class="row" style="border:1px solid red;">
    <app-details>
            <h5><b>Schuleranfragen</b></h5>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
        
                    <span class="badge badge-light badge-pill"><i class="text-info a">mkp</i><br><b
                            class="text-info b">20</b><br><i class="c">Tri</i></span>
                    <span class="ml-3"><span class="text-info">Achacl</span> Mochte Mit Peter Um 12:00 Uhr eine <span
                            class="text-info">uberlandfahrt</span> macgn</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
        
                    <span class="badge badge-light badge-pill"><i class="text-info a">mkp</i><br><b
                            class="text-info b">60</b><br><i class="c">Tri</i></span>
                    <span class="ml-3"><span class="text-info">Kmxbh</span> Mochte Mit Peter Um 12:00 Uhr eine <span
                            class="text-info">uberlandfahrt</span> macgn</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
        
                    <span class="badge badge-light badge-pill"><i class="text-info a">mkp</i><br><b
                            class="text-info b">40</b><br><i class="c">Tri</i></span>
                    <span class="ml-3"><span class="text-info">Rick</span> Mochte Mit Peter Um 12:00 Uhr eine <span
                            class="text-info">uberlandfahrt</span> macgn</span>
                </li>
            </ul>
    </app-details>
</div>