<div class="container d-none d-sm-block" style="border:1px solid red;" >
    <h5 class="ml-3 my-2"><b>Verbessere Dein Profil</b></h5>
    <div class="row">
        <div class="col-sm-12  col-md-4">
            <app-cards>
                <div class="card">

                    <div class="card-body">
                        <div class="card-title"><b>Lade hochwertige bilder</b></div>
                        <p class="card-text">ahfvh iuhiuhd uefhi ue u iw wehfiweh wekjr erj ekr kje kjsrngrk erg kjengkj
                            egkj ekkjern kerng
                            kjesrngksnek.</p>
                        <button class="btn btn-info">Bilder</button>
                    </div>

                </div>

            </app-cards>
        </div>
        <div class="col-sm-12  col-md-4">
            <app-cards>

                <div class="card">
                    <div class="card-body">
                        <div class="card-title"><b>Lade dine</b></div>
                        <p class="card-text">ahfvh iuhiuhd uefhi ue u iw wehfiweh wekjr erj ekr kje kjsrngrk erg kjengkj
                            egkj ekkjern kerng
                            kjesrngksnek.</p>
                        <button class="btn btn-info">Kollegen</button>
                    </div>

                </div>
            </app-cards>
        </div>
        <div class="col-sm-12 col-md-4">
            <app-cards>
                <div class="card">

                    <div class="card-body">
                        <div class="card-title"><b>erstelle</b></div>
                        <p class="card-text">ahfvh iuhiuhd uefhi ue u iw wehfiweh wekjr erj ekr kje kjsrngrk erg kjengkj
                            egkj ekkjern kerng
                            kjesrngksnek.</p>
                        <button class="btn btn-info">Neue</button>
                    </div>
                </div>
            </app-cards>
        </div>
    </div>
</div>