<div class="container" style="border:1px solid red;">
        <div class="row p-2">
                <div class="col-8">
                    
                    <div class="container">
                        <h5>Ubersicht deiner Fahrschulen</h5>
                        <p>ygug guuyq iudiuwqhdi dhd wgdiqwhdi wdg dgqi dg dg qygd qugd yqgdu yu qg </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="../assets/images/car1.webp" class="img-fluid">
                            </div>
                            <div class="col-sm-6">
                                <b>Fahrschule Achselpeter</b>
                                <address>
                                    <i class="fas fa-map-marker-alt"></i><span class="ml-2"> Seddiner Strebe 7</span><br>
                                    <i class="fas fa-phone"></i><span class="ml-2"> (030) 51 65 64 26</span><br>
                                    <i class="fas fa-user"></i><span class="ml-2"> Achsel Peter Senior</span><br>
                                    <i class="fas fa-envelope"></i><span class="ml-2"> achsel@peter.net</span><br>
                                    <i class="fas fa-globe"></i><span class="ml-2"> achselpetervollinfahrt.de</span>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="float-right">
                        <button class="btn btn-info px-5 mx-auto">Profilvorschau</button>
                    <p class="pull-right text-info pt-2 text-center">Profil bearbeiten</p>
                    </div>
                </div>
            </div>
            
</div>