<div class="container my-5">
    <app-ubersicht></app-ubersicht>
    <app-verbessere>
    </app-verbessere>
    <div class="container">
        <div class="row">
            <div class="col-sm-12  col-md-6">
              <app-stundenanfragen></app-stundenanfragen>
            </div>
            <div class="col-sm-12  col-md-6">
              <app-schuleranfragen></app-schuleranfragen>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-12  col-md-6">
              <app-kalender></app-kalender>
            </div>
            <div class="col-sm-12  col-md-5" style="margin-left:auto">
              <app-schulerfortschritt></app-schulerfortschritt>
            </div>
        </div>
    </div>
</div>